/jaxws-ri/docs/www/target/
/jaxws-ri/docs/release-documentation/target/
/jaxws-ri/eclipselink_sdo/target/
/jaxws-ri/httpspi-servlet/target/
/jaxws-ri/rt/target/
/jaxws-ri/eclipselink_jaxb/target/
/jaxws-ri/rt-ha/target/
/jaxws-ri/rt-fi/target/
/jaxws-ri/samples/target/
/jaxws-ri/tools/wscompile/target/
/jaxws-ri/transports/async-client-transport/target/
/jaxws-ri/bundles/jaxws-ri/target/
/jaxws-ri/bundles/jaxws-ri-src/target/
/jaxws-ri/bundles/jaxws-rt/target/
/jaxws-ri/bundles/jaxws-tools/target/
/jaxws-ri/servlet/target/
/jaxws-ri/transports/local/target/