/jaxws-ri/rt/build/classes/
/jaxws-ri/tools/wscompile/build/classes/
/jaxws-ri/tools/wscompile/build/test-classes/
/jaxws-ri/rt/build/test-classes/
/jaxws-ri/docs/www/target/
/jaxws-ri/build/
/jaxws-ri/ivy/
/jaxws-ri/lib/
/jaxws-ri/tools/resourcegen/build/
/jaxws-ri/rt/build/
/jaxws-ri/rt-ha/build/
/jaxws-ri/tools/wscompile/build/
/jaxws-ri/transports/local/build/
/jaxws-ri/dist/
/jaxws-ri/eclipselink_jaxb/
/jaxws-ri/eclipselink_sdo/build/
/jaxws-ri/httpspi-servlet/build/
/jaxws-ri/docs/release-documentation/target/
/jaxws-ri/rt-fi/build/
/jaxws-ri/servlet/build/