/*
 * Copyright (c) 1995, 2011, Oracle and/or its affiliates. All rights reserved.
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
 *
 * This code is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 only, as
 * published by the Free Software Foundation.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the LICENSE file that accompanied this code.
 *
 * This code is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
 * version 2 for more details (a copy is included in the LICENSE file that
 * accompanied this code).
 *
 * You should have received a copy of the GNU General Public License version
 * 2 along with this work; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
 *
 * Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
 * or visit www.oracle.com if you need additional information or have any
 * questions.
 */

// Standard extensions get all permissions by default

grant codeBase "file:${{java.ext.dirs}}/*" {
	permission java.security.AllPermission;
};

// default permissions granted to all domains

grant { 
    // Allows any thread to stop itself using the java.lang.Thread.stop()
    // method that takes no argument.
    // Note that this permission is granted by default only to remain
    // backwards compatible.
    // It is strongly recommended that you either remove this permission
    // from this policy file or further restrict it to code sources
    // that you specify, because Thread.stop() is potentially unsafe.
    // See the API specification of java.lang.Thread.stop() for more
    // information.
    permission java.lang.RuntimePermission "stopThread";

    // allows anyone to listen on un-privileged ports
    permission java.net.SocketPermission "localhost:1024-", "listen";

    // "standard" properies that can be read by anyone

    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";
    permission java.util.PropertyPermission "file.separator", "read";
    permission java.util.PropertyPermission "path.separator", "read";
    permission java.util.PropertyPermission "line.separator", "read";

    permission java.util.PropertyPermission "java.specification.version", "read";
    permission java.util.PropertyPermission "java.specification.vendor", "read";
    permission java.util.PropertyPermission "java.specification.name", "read";

    permission java.util.PropertyPermission "java.vm.specification.version", "read";
    permission java.util.PropertyPermission "java.vm.specification.vendor", "read";
    permission java.util.PropertyPermission "java.vm.specification.name", "read";
    permission java.util.PropertyPermission "java.vm.version", "read";
    permission java.util.PropertyPermission "java.vm.vendor", "read";
    permission java.util.PropertyPermission "java.vm.name", "read";

    permission java.lang.RuntimePermission "setIO";
    permission java.lang.RuntimePermission "closeClassLoader";
    permission java.net.NetPermission "setDefaultAuthenticator";
    permission java.net.NetPermission "getProxySelector";

    permission java.net.SocketPermission "*", "connect,resolve,accept,listen";

    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";

    permission java.lang.RuntimePermission "accessDeclaredMembers";

    // package access -----------------------------------------------------------------
    // necessary for WS Harness under jdk6
    permission java.lang.RuntimePermission "accessClassInPackage.sun.*";
    //permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    //permission java.lang.RuntimePermission "accessClassInPackage.sun.util.logging.*";

    // JAXWS - "accessClassInPackage.com.sun.xml.internal.*":
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.*";

    /*
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.ws";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.ws.developer";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.ws.api.message";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.ws.spi";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.bind.v2";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.org.jvnet.fastinfoset.stax";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.fastinfoset.stax";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.org.jvnet.staxex";
        permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.bind.v2.runtime.unmarshaller";
    */

    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.org.glassfish.*";

    // JAXP:
    //permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.stream";

    // SAAJ FactoryFinder:
    //permission java.lang.RuntimePermission "accessClassInPackage.com.sun.xml.internal.messaging.saaj.soap";

    // ws-harness needs this
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.org.apache.xerces.internal.dom";

    // package access -----------------------------------------------------------------
    
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.lang.RuntimePermission "modifyThread";

    permission java.io.FilePermission "<<ALL FILES>>", "read,write,delete,execute";
    permission java.io.FilePermission "${java.home}/bin/*", "read,execute";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.net.SocketPermission "*", "connect,resolve,accept,listen";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";

    permission javax.xml.ws.WebServicePermission "publishEndpoint";

};

