#
# Copyright 2002 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
#ident	"$Id: pkginfo.tmpl,v 1.3 2006-02-03 00:08:13 jitu Exp $"
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWjaxws"
NAME="The Java API for XML Web Services"
ARCH="@arch@"
VERSION="@jaxws.version@,REV=@datestamp@"
SUNW_PRODNAME="@prod.name@"
SUNW_PRODVERS="@jaxws.version@"
#SUNW_PKGTYPE="usr"
MAXINST="1000"
CATEGORY="system"
DESC="The Java API for XML Web Services @jaxws.version@"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none jwsenv"
BASEDIR=/opt
SUNW_PKGVERS="1.0"
ASCONFDIR=USRCONFDIR
ASINSTDIR=USRINSTDIR
ASJAVADIR=JAVAINSTDIR
ASLOCALE=LOCALE
ASDOMAINSDIR=VARDOMAINSDIR
#VSTOCK="<reserved by Release Engineering for package part #>"
#ISTATES="<developer defined>"
#RSTATES='<developer defined>'
#ULIMIT="<developer defined>"
#ORDER="<developer defined>"
#PSTAMP="<developer defined>"
#INTONLY="<developer defined>"
